@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montez&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montez', cursive;
    font-weight: 300;
    color: darkgoldenrod;
    background-color: rgb(250, 233, 212);
}

/* Headings and logo */

h1 {
    font-family: Montez, Arial;
    font-style: italic;
    color: darkgoldenrod;
}

#logo {
    float: left;
    font-size: 450%;
    margin-left: 30px;
    margin-bottom: 10px;
}

/* menus and nav-links */

#menu {
    font-family: 'Lato', sans-serif;
    font-size: 120%;
    letter-spacing: 4px;
    margin-right: 20px;

}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    position: 
}

#menu a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/* banner-photo */

#meditate-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#meditate-image {
    height: 600px;
    width: 100%;
    background: url(../images/meditate2.png) no-repeat center center;


animation-name: meditate-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}

@keyframes meditate-zoom {
from{
    transform: scale(1);
}
to{
    transform: scale(1.1);
}
}

#cover-text {
    font-size: 130%;
    font-family: Lato, Arial;
    letter-spacing: 4px;
    text-align: center center;
    
    height: 70px;
    width: 350px;
    
    padding: 20px;
    
    background-color:rgba(184, 134, 11, 0.7);

    bottom: 50px;
    right: 150px;

    position: absolute;

}

#upcomming {
    height: 300px;
    font-family: Lato, Arial;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#center-about {
    font-size: 130%;
    color: white;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    background-color: darkgoldenrod;
}

#why-why {
    height: 600px;
    padding: 10px;
    margin: 0 auto;
}

#left-why {
    height: 600px;
    color: darkolivegreen;
    padding: 20px;
    width: 33%;
    float: left;
}

#right-why {
    height: 600px;
    color: darkolivegreen;
    padding: 20px;
    width: 33%;
    float: right;
}

#center-why {
    height: 600px;
    color: darkolivegreen;
    padding: 20px;
    width: 33%;
    margin: 0 auto;
}

#buddah-img {
    height: 400px;
    font-family: Lato, Arial;
    background: url(../images/buddah.png);
    background-size: 10%;
    opacity: 60%;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 140%;
    margin: 1px;
    padding: 10px;
    color: #3a3a3a;
}


#footer-center {
    font-family: Lato, Arial;
    height: 150px;
    width: 25%;
    margin: 0 auto;
}

#footer-right {
    height: 150px;
    width: 25%;
    float: right;
}

#footer-left {
    height: 150px;
    width: 50%;
    float: left;
}