@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montez&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montez', cursive;
    font-weight: 300;
    color: darkgoldenrod;
    background-color: rgb(255, 245, 232);
}

/* Headings and logo */

#logo {
    float: left;
    font-size: 450%;
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: Montez, Arial;
    font-style: italic;
    color: darkgoldenrod;
}

/* menus and nav-links */

#menu {
    font-family: 'Lato', sans-serif;
    font-size: 120%;
    letter-spacing: 4px;
    margin-right: 20px;

}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/* hero-photo */

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/meditate2.png) no-repeat center center;

    animation-name: meditate-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

    @keyframes meditate-zoom {
    from{
    transform: scale(1);
    }
    to{
    transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Lato, Arial;
    letter-spacing: 4px;
    text-align: center center;
    height: 70px;
    width: 350px;
    padding: 20px;
    background-color:rgba(184, 134, 11, 0.7);
    bottom: 150px;
    right: 150px;
    position: absolute;
}

#cover-text a {
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
    color: inherit;
}

#cover-text a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/* meet-ups */

#meet-up {
    font-family: Lato, Arial;
    background: url(../images/meetup.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#meet-up div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 25%;
    height: 200px;
    float: left;
    padding: 30px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#meet-up h3 {
    font-style: italic;
    color: #fafafa;
}

#meet-up a {
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
    color: inherit;
}

#meet-up a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}


/* About us */

#section-info {
    padding: 20px;
    height: 200px;
    font-family: Lato, Arial;
}

#center-info {
    font-size: 130%;
    color: white;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    background-color: darkgoldenrod;
}

#section-about > div {
    height: auto; 
    margin: 0 auto;
}

#section-about {
    height: 800px;
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
    overflow-y: scroll;
    padding-bottom: 20px;
}

#section-about a {
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
    color: inherit;
}

#section-about a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

#center-about {
    font-family: Lato, Arial;
    font-size: 130%;
    color: white;
    padding: 20px;
    width: 60%;
    background-color: rgba(184, 134, 11, 0.8);
}

.about-image {
    height: 800px;
    width: 100%;
    background: url(../images/about.jpg) no-repeat center center;
}

/* Kids Yoga */

#section-yogabear {
    height: 200px;
    font-family: Lato, Arial;
}

#center-yogabear {
    font-size: 130%;
    color: white;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    background-color: darkgoldenrod;
}

#section-yogabear > div {
    height: auto; 
    margin: 0 auto;
}

#section-yogabear {
    height: 800px;
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
    overflow-y: scroll;
    padding-bottom: 20px;
}

#section-yogabear a {
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
    color: inherit;
}

#section-yogabear a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

#center-yogabear {
    font-family: Lato, Arial;
    font-size: 130%;
    color: white;
    padding: 20px;
    width: 60%;
    background-color: rgba(184, 134, 11, 0.8);
}

.yogabear-image {
    height: 800px;
    width: 100%;
    background: url(../images/Yogabear.jpg) no-repeat center center;
}

/* footer */

footer {
    height: 100%;
    font-family: Lato, Arial;
    background-color: darkgoldenrod;
    width: 100%;
}

.column {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#footer-center {
    text-align: left;
    font-family: Lato, Arial;
    font-size: 140%;
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    height: 100%;
    width: 20%;
    margin: 0 auto;
}

#footer-right {
    float: right;
    height: 100%;
    color: #fff;
    width: 20%;
}

#footer-map {
    height: 100%;
    width: 50%;
}

#map {
    width: 100%;
}

.social-networks {
    line-height: 80px;
    text-align: center;
}

.social-networks i {
    font-size: 180%;
    margin: 10px;
    color: #fff;
}

.social-networks > li {
    display: inline;
}

/* contact form */

fieldset {
    display: block;
    text-align: center;
    padding: 30px;
}

fieldset > div {
    height: auto; 
    margin: 0 auto; 
    
}

form {
    margin: 0 auto;
}

#contact-section {
    height: 800px;
    background: url(../images/meditate.jpg) no-repeat center center;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.contact-panel {
    color: #fff;
    font-family: Lato, Arial;
    font-weight: 600;
    font-size: 110%;
    text-align: left;
    background-color: rgba(184, 134, 11, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}

.text-input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

#message {
    height: 90px;
}

.submit-button {
    background-color: #fff;
    color: gray;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

.submit-button:hover {
    background-color: darkgoldenrod;
}

/* Gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery > img {
    width: 100%;
}

.video-box {
    max-width: 130rem;
    padding: 10px;
    margin: 0 auto;
}

.video-box video {
    width: 100%;
    height: auto;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.container {
    max-width: 130em;
    padding: 0 3.2rem;
    margin: 0 auto;
}
/* Media Queries */

/* For medium screens sizes from 950px wide and down */

@media screen and (max-width: 950px) {

hr {
    display: none;
}

#menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
}

#cover-text {
    left: 0;
}

#gallery {
    column-count: 2;
}

.contact-panel {
    background-color: rgba(184, 134, 11, 0.8);
    clear: both;
}

#section-about {
    overflow-y: scroll;
    padding-bottom: 20px;
}

#section-yogabear {
    overflow-y: scroll;
    padding-bottom: 20px;
}

#meet-up > div {
    width: 100%;
    clear: both;
    height: 150px;
    padding: 0;
}

}
@media screen and (max-width: 700px) {

    #menu {
        clear: left;
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 25px;
        display: flex;
        flex-direction: row-reverse;
        font-size: 100%;
        text-align: center;
        letter-spacing: 0px;
    }

    #contact-section {
        background: url(../images/yoga7.jpg) no-repeat center center;
    
    }
    .contact-panel {
        background-color: rgba(184, 134, 11, 0.8);
        clear: both;
        width: 300px;
    }

    .column {
        width: 100%;
        clear: both;
        padding: 0;
    }

    #footer-right {
        float: none;
    }

    .social-networks {
        text-align: center;
        display: flex;
        flex-direction: row;
        letter-spacing: 20px;
        width: 100%;
    }

    #footer-map {
        width: 100%;
    }

    #footer-center {
        display: none;
    }
}